* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.items {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
}
